body {
    background-color: aqua;
}

.banner {
    background-color: rgb(244, 152, 72);
    padding: 10px;
}

.cookingicon {
    max-width: 60px;
}

.socialicons {
    max-width: 60px;
}

.breadcrumb ul {
    display: flex;
}
    
.breadcrumb li::before {
    content: "/";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

.headercontainer {
    background-color: rgb(255, 250, 216);
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: rgb(120, 180, 180);
}

#cooking {
    font-family: 'Fascinate', cursive;
    font-size: 60px;
    color:rgb(255, 0, 0)
}

#cats {
    font-family: 'Fascinate', cursive;
    font-size: 60px;
    color:rgb(0, 139, 139)
}

.foodCard {
    max-width: 400px;
    padding:20px;
    margin:10px;
}

#foodCarousel {
    max-width: 900px;
    margin:20px;
}